# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/check-memory-usage-extended/check-memory-usage-extended
cmd/check-swap-usage-extended/check-swap-usage-extended

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep
vendor/

# deploy
bonsai/
dist/
